<!DOCTYPE html>
<html lang="en">
<link href="/static/dictionary/styles.css" rel="stylesheet">
<script src="/static/dictionary/index.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <form action="/search">
        <center><input class="search" type="text" name="search" value="" placeholder="&#x1F50E;&#xFE0E; Search"><button id="submit" type="submit">&#x1F50E;&#xFE0E;</button></center>
   </form>
    <center>
    <div id="body">
        {% if data == "Not Found" %}
            <h1>{{data}}</h1>
        {% else %}
            <h1 style="text-align: center;">{{ word }}</h1>

            <h3 class="section">Type: </h3 class="section">
            <p class="section">{{ type }}</p>
            <h3 class="section">Definition: </h3 class="section">
            <p class="section">{{ definition }}</p>

            <a href="https://en.wiktionary.org/wiki/{{word}}">More on Wikipedia</a>
        {% endif %}
        <div id="buttons">
            <button class="vote" id="upvote" onclick="upvote('{{word}}')">{{upvote}} Upvotes</button>
            <button class="vote" id="downvote" onclick="downvote('{{word}}')">{{downvote}} Downvotes</button>
        </div>
    </div>
    </center>
</body>
</html>